<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Préfère?</title>
    <link rel="shortcut icon" href="../static/assets/TuPrefere.png">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <div class="chargement">
        <div class="boitechargement">
            <img class="timegg" src="../static/assets/timegg.png"></img>
            <div class="nombre">Chargement</div>
        </div>
    </div>
    <h1 style="padding-top: 5%;">TU PRÉFÈRES</h1>
    <div class="tupref" id="tupref">
        <button class="btn btn1" id="btn1"></button>
        <h2>OU</h2>
        <button class="btn btn2" id="btn2"></button>
    </div>
    <div class="resultat" id="resultat" style="display: none">
        <p></p>
        <div class="boitebarre">
            <div class="barreresultat" id="resultat1"></div>
            <div class="barreresultat" id="resultat2"></div>
        </div>
        <h3></h3>
    </div>
    <div class="fin" style="display: none">
        <p class="merguez"><span style="font-weight: bold;">Merci d'avoir joué!</span><br><br><span style="text-decoration: underline;">Crédits:</span><br>
        Toutes les blagues racistes: <br><span style="font-family: MartianMono">Timéo Buchy, Gabriel Janicaud</span><br>
    Toutes les blagues homophobes: <br><span style="font-family: MartianMono">Gabriel Janicaud</span><br>
Les blagues de cul: <br><span style="font-family: MartianMono">Tous</span><br>
Le côté technique: <br><span style="font-family: MartianMono">Alban Cottarel</span><br>
Toutes responsabilités légales, morales etc reviennent à Mr ALVES<br>
Cordialement la direction</p>
    </div>
    <button class="next" id="next">Suivant</button>
    <script src="../static/script.js"></script>
</body>

</html>
